<div class="row">
    <div class="panel panel-default">
        <div class="col-xs-12 panel-heading">
            <div class="col-xs-9">
                <span class="title">Contacts</span>
            </div>
            <div class="col-xs-3 panel-heading">
                <a class="btn btn-success" [routerLink]="['new']">New Contacts</a>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 margin-top">
                    <app-contact-item *ngFor="let contact of contacts" [contact]="contact" dnd-draggable [dragEnabled]="true" [dragData]="contact" [dropZones]="['contactGroup']">
                    </app-contact-item>
                </div>
            </div>
        </div>
    </div>
</div>